{% extends "layout/basic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<h2 class="text-center title animated fadeIn delay-1s">Reset password.</h2><br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 animated pulse">
            <a href="/accounts/login">
                <p class="text-right text-primary">Back</p>
            </a>
            <div class="card shadow">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <br>
                        <form action="" method="post">
                            {% csrf_token %}
                            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                            <p>{{ form | crispy }}</p>
                            <button type="submit" class="mt-2 btn btn-outline-dark">Reset password</button>
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}