{% extends "layout/basic.html" %}

{% block content %}
<div class="container-fluid">
    {% if user.is_authenticated %}
    <h1 class="text-center title animated fadeIn delay-2s">Hi, {{ user.get_username }}.</h1>
    <h2 class="text-center title animated fadeIn delay-3s">It's your to-do list...</h2><br>
    
    {% else %}
    <h1 class="text-center title animated fadeIn delay-2s">It's example to-do list...</h1><br>
    <h2 class="text-center title animated fadeIn delay-3s"><a href="{% url 'signup' %}">Sign up</a> to create your list</h2><br>
    {% endif %}
    {% comment %} <h2 class="text-center title animated fadeIn delay-3s">To do list...</h2><br> {% endcomment %}
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-md-8 col-lg-6 col-12 animated pulse">
                <a href="add">
                    <p class="text-right text-primary">Add Task</p>
                </a>
                <div class="card shadow">
                    {% if count_tasks == 0 %}
                    <div class="card-body no-tasks">
                        <br>
                        <p class="text-center text-secondary">You have no tasks. 😎</p>
                        <p class="text-center text-secondary">You can <a href="add">add a new task</a>.</p>
                        <br>

                    </div>
                    {% endif %}

                    {% for task in all_tasks %}
                    <div class="card-body">
                        <div class="row item">
                            <div class="col-8">
                                {% if task.done == False %}
                                <a href="done/{{ task.id }}"><i class="far fa-square text-dark"></i></a>
                                <b class="item-task">{{ task.task }}</b>
                                <p class="item-desc">{{ task.description }}</p>
                                {% endif %}
                                {% if task.done == True %}
                                <a href="undo/{{ task.id }}"><i class="far fa-check-square text-muted"></i></a>
                                <s><b class="item-task text-muted">{{ task.task }}</b>
                                    <p class="item-desc text-muted">{{ task.description }}</p>
                                </s>
                                {% endif %}
                            </div>
                            <div class="col-4 text-right">
                                <a href="delete/{{ task.id }}"><i class="fas fa-trash text-danger icon-button"></i></a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    {% endfor %}
                    <div class="card-body count_info">
                        {% if count_tasks != 0 %}
                        <br>
                        <p class="text-center text-secondary animated fadeIn">You have completed {{ done_tasks }} of
                            {{ count_tasks }} tasks. {% if done_tasks == count_tasks %}
                            👍
                            {% endif %}</p>
                        <br>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>


    {% endblock  %}